doctype html
html
  head
    title= title
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="data:;base64,=")
    script(src="javascripts/index.js")
  body(onload="init()")
    block content
