doctype html
html
  head
    title= title
    script(src="https://js.pusher.com/8.0.1/pusher.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="data:;base64,=")
    script(src="javascripts/index.js")
  body(onload="init()")
    block content
